body{
    font-size: 16px;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
 }

.bar {
    display: flex;
    width: 100%;
    height: 1.706rem;
    background: #d43c33;
    color: #fff;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
}

.bar .logo {
    margin-left: 10px;
    font-size: 22px;
}

.bar a {
    font-size: 15px;
    border: 1px solid #fff;
    height: 30px;
    margin-right: 8px;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 15px;
}

.tabs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 40px;
}

.tabs li {
    font-size: 15px;
    line-height: 40px;
    width: 33%;
    text-align: center;
    cursor: pointer;
}

.tabs li.active {
    color: #d33a31;
    border-bottom: 2px solid #d33a31;
}

main {
    margin-top: 2.8rem;
    padding-top: 20px;
}

h1 {
    border-left: 2px solid #d33a31;
    font-size: 17px;
    font-weight: normal;
    padding-left: 9px;
    margin-bottom: 14px;
    line-height: 17px;
    height: 17px;
}

section {
    display: none;
    width: 100%;
    height: calc(100vh - 1.706rem - 40px);
}

section.active {
    display: block;
}

.songform {
    margin-bottom: 8px;
}

.songform > ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.songform > ul > li {
    display: block;
    width: 32.8%;
    margin-bottom: 16px;
}

.songform li a > img {
    display: block;
    width: 3.276rem;
    height: 3.276rem;
}

.songform li .name {
    display: block;
    height: 1.408rem;
    font-size: 13px;
    line-height: 1.2;
    padding:6px 2px 0 6px;
}

.newsongs > ul > li {
    display: flex;
    justify-content: space-between;
    height: 55.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    border-bottom: 1px solid #ddd;
}

.newsongs .songitem > span{
    display: block;
}

.newsongs .songitem .name {
    font-size: 17px;
    height: 25.5px;
}

.newsongs .songitem .singer {
    height: 18px;
    font-size: 12px;
    color: #888;
}


.newsongs .songitem .singer  img {
    width: 12px;
    height: 8px;
    padding-right: 4px;
}

.newsongs ul li a {
    margin-right: 10px;
    height: 55.5px;
    line-height: 55.5px;
    color: #888;
}

.newsongs ul li a .icon {
    width: 24px;
    height:24px ;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:5.33rem ;
    background: url(../img/footer.png) no-repeat;
    background-size: 100% 100%;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 63.3667px;
    width: 230px;
}

footer .logo span{
    margin-left: 10px;
    font-size: 30px;
    color: black;
    font-weight: 500;
}

footer .icon {
    width: 44px;
    height: 44px;
}

footer a {
    margin:16px 0 6px;
    width: 301px;
    height: 40px;
    border: 1px solid red;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: red;
}

footer span {
    color: #888;
    font-size: 9px;
    line-height: 12px;
}